<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="jogoDaVelha">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Jogo da Velha</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link href="css/index.css" rel="stylesheet">
		<script src="lib/angular.min.js"></script>
		<script src="lib/jquery-3.0.0.min.js"></script>

		<script src="jogoDaVelhaCtrl.js"></script>
	</head>

	<body ng-controller="jogoDaVelhaCtrl">
		<div class="container">
			<div class="panel panel-default">
				<div class="panel-heading">
					Jogo da Velha <button class="btn btn-info" ng-click="initJogo()">Reiniciar</button>
				</div>
				<div class="panel-body">
					<table class="tabuleiro" ng-init="initJogo()">
						<tr ng-repeat="linha in campos" class="campo">
							<td ng-repeat="campo in linha" ng-click="setValue(campo)" ng-mouseover="mouseOver(campo)" ng-mouseleave="mouseLeave(campo)">{{campo.valor+campo.valorProv}}</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</body>
</html>